{% extends 'base.html.twig' %}

{% block title %}Articles en vente{% endblock %}

{% block body %}

   <div class="jumbotron">
   <h1>Bienvenu sur Vinted Clone </h1>
   <h3>Ici vous pouvez vendre tout et n'importe quoi</h3>
   
   </div>
{% endblock %}
